.navbar-buttons a{
    background-color: #4CAF4F;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: 0.5s;
    margin-left: 10px;
    display: inline-block;
}
.navbar-buttons a:hover{
    background: transparent;
    color: #4CAF4F;
    border-color: #4CAF4F;

}
.common-button a{
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: 0.5s;
    display: inline-block;
}
.common-button a:hover{
    background: transparent;
    color: #4CAF4F;
    border-color: #4CAF4F;

}
.box{
    display: flex;
}
/* Navbar part start*/
nav{
    background: #FFFFFF;
    padding: 22px 0px !important;
}
.navbar-nav{
    column-gap: 50px;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
    font-family: "Inter", sans-serif;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/* Navbar part end*/
/* Banner part start*/
.banner{
    background: #FFFFFF;
    padding: 161px 0px;
}
.banner h1{
    font-size: 64px;
    color: #4D4D4D;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.banner h1 span{
    color: #4CAF4F;
}
.banner p{
    font-size: 16px;
    color: #717171;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding-top: 16px;
    padding-bottom: 32px;
}
/* Banner part end*/
/* Client part start*/
.client{
    background: #FFFFFF;
    padding: 40px 0px;
}
.client .title{
    text-align: center;

}
.client .title h2{
    font-size: 36px;
    color: #4D4D4D;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.client .title p{
    font-size: 16px;
    color: #717171;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding-top: 08px;
}
.client .box{
    justify-content: space-between;
    padding: 25px 0px;
}

/* Client Part end */